@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;600;700;800;900&display=swap');

/*****************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', 'Big Shoulder Display', sans-serif;
}

main {
    position: relative;
    width: 100%;
    margin: auto;
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 70px;
    line-height: 60px;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
}

h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;

}

p {
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    font-style: normal;

}

img{
    width: 100%;
}

.image-map{
    position: absolute;
    background-image: url(../assets/desktop/image-map.png);
    width: 100%;
    height: 600px;
}

.location-button{
    position: absolute;
    top: 0px;
    left: 190px;
    padding: 1em;
    background-color: #151515;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}
.location-button:hover{
    cursor: pointer;
    background-color: #d5966c;
}
.icon-arrow-left{
    position: absolute;
    padding: 1.13em;
    background-color: #d5966c;
    top: 0px;
    left: 146px;
}

.middle {
    position: absolute;
    left: 0px;
    right: 0px;
    background: #151515;
    top: 547px;
    min-height: 548px;

}

.m-inner {
    position: absolute;
    top: 104px;
    left: 165px;
    right: 165px;
}

.m-inner h1 {
    position: absolute;
    color: #ffffff;
    left: 0px;
    right: 760px;
}

.inner-2 {
    position: absolute;
    left: 570px;
    right: 95px;
}

.inner-2 h2 {
    left: 570px;
    right: 190px;
    color: #d5966c;
}

.inner-2 p {
    position: absolute;
    color: #ffffff;
    top: 60px;
    left: 0px;
    right: 60px;
    opacity: 0.9;
}

.gal P {
    position: absolute;
    left: 570px;
    top: 188px;
    color: #ffffff;
    opacity: 0.9;
}

.bottom {
    position: absolute;
    top: 1096px;
    left: 0px;
    right: 0px;
    background: #d5966c;
}

.b-inner {
    background: #d5966c;
}

.b-inner-2 {
    padding-top: 80px;
    padding-left: 165px;
    padding-right: 165px;
    padding-bottom: 80px;
}

.b-inner-2 h1 {
    color: #151515;
}

.bottom p {
    position: absolute;
    color: #151515;
    top: 130px;
    left: 550px;
    right: 200px;
}
.icons svg *{
    cursor: pointer;
    fill: #151515;
}
.facebook{
    position: absolute;
    background-image: url(../assets/icon-facebook.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 40px;
    top: 80px;
    left: 1170px;
}
.instagram{
    position: absolute;
    background-image: url(../assets/icon-instagram.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 40px;
    top: 80px;
    left: 1210px;
}
.twitter{
    position: absolute;
    background-image: url(../assets/icon-twitter.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 40px;
    top: 80px;
    left: 1250px;
}

.icon-2:hover{
    cursor: pointer;
    fill: #ffffff;
}

/* This section contains styles  for for desktop-active, tablet and mobile location */

@media screen and (min-width:310px) and (max-width: 430px){
    main{
        position: relative;
        width: 375px;
        height: 1379px;
    }
    img{
        width: 100%;
    }
    .image-map{
        position: absolute;
        background-image: url(../assets/mobile/image-map.png);
        height: 550px;
    }
    .location-button{
        position: absolute;
        padding: 1em;
        left: 40px;
        letter-spacing: 1px;
    }
    .icon-arrow-left{
        position: absolute;
        left: 0%;
    }
    .middle{
        position: absolute;
        height: 500px;
        top: 550px;
        width: 100%;
        left: 0px;
        right: 0px;
    }
    .m-inner{
        position: absolute;
        left: 0px;
    }
    .m-inner h1{
        position: absolute;
        font-size: 50px;
        line-height: 45px;
        top: -60px;
        right: -60px;
        left: 10px;
    }
    .inner-2{
        position: absolute;
        left: 10px;
        right: 10px;
        top: 20px;
    }
    .inner-2 h2{
        font-size: 32px;
        line-height: 32px;
    }
    .inner-2 p{
        position: absolute;
        top: 60px;
        right: -20px;
        font-size: 18px;
        line-height: 28px;
        opacity: 0.5;
    }
    .gal p{
        position: absolute;
        left: 10px;
        top: 200px;
        right: -90px;
        font-size: 18px;
        line-height: 28px;
        opacity: 0.5;
    }
    .bottom{
        position: absolute;
        height: 350px;
        top: 1050px;
    }
    .b-inner-2{
        position: absolute;
        padding-left: 32px;
        padding-top: 48px;
    }
    .b-inner-2 h1{
        position: absolute;
        font-size: 40px;
        line-height: 35px;
        right: -120px;
        left: 32px;
    }
    .bottom p{
        position: absolute;
        top: 150px;
        left: 32px;
        right: 80px;
        font-size: 18px;
        line-height: 28px;
    }
    .facebook{
        position: absolute;
        left: 32px;
        top: 300px;
        background-repeat: no-repeat;
    }
    .instagram{
        position: absolute;
        left: 72px;
        top: 300px;
        background-repeat: no-repeat;
    }
    .twitter{
        position: absolute;
        left: 111px;
        top: 300px;
        background-repeat: no-repeat;
    }
}

/* table location */
@media screen and (min-width: 500px) and (max-width: 950px){
    main{
        position: relative;
        max-width: 768px;
        height: 1252px;
        margin: auto;
        overflow-x: hidden;
    }
    img{
        width: 100%;
    }
    .image-map{
        position: absolute;
        background-image: url(../assets/tablet/image-map.png);
        width: 100%;
    }
    .middle{
        position: absolute;
        right: 0px;
        left: 0px;
        height: 436px;
    }
    .m-inner{
        position: absolute;
        top: 89px;
        left: 32px;
    }
    .m-inner h1{
        position: absolute;
        font-size: 55px;
        line-height: 55px;
    }
    .inner-2{
        position: absolute;
        left: 330px;
        top: 0px;
        right: 20px;
    }
    .inner-2 h2{
        font-size: 32px;
        line-height: 32px;
    }
    .inner-2 p{
        position: absolute;
        right: -50px;
        opacity: 0.5;
    }
    .gal p {
        position: absolute;
        left: 330px;
        right: -150px;
        opacity: 0.5;
    }
    .bottom{
        position: absolute;
        height: 216px;
        top: 1095px;
    }
    .b-inner-2{
        position: absolute;
        padding-left: 56px;
        padding-top: 39px;
    }
    .b-inner-2 h1{
        position: absolute;
        font-size: 40px;
        line-height: 40px;
        right: -300px;
        left: 39px;
    }
    .bottom p{
        position: absolute;
        left: 289px;
        right: 170px;
        top: 56px;
        font-size: 18px;
        line-height: 28px;
    }
    .facebook{
        position: absolute;
        left: 650px;
        top: 56px;
        background-repeat: no-repeat;
    }
    .instagram{
        position: absolute;
        left: 690px;
        top: 56px;
        background-repeat: no-repeat;
    }
    .twitter{
        position: absolute;
        left: 730px;
        top: 56px;
        background-repeat: no-repeat;
    }
    
}