@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;600;700;800;900&display=swap');

/*****************************************************************/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', 'Big Shoulder Display', sans-serif;
}

main {
    position: relative;
    max-width: 1440px;
    margin: auto;
}

img {
    max-width: 100%;
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 70px;
    line-height: 60px;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
}

h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;

}

p {
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    font-style: normal;

}

.back-location{
    position: absolute;
    top: 0px;
    left: 212px;
    background: #151515;
    padding: 15px;
}

.back-location h2{
    color: #ffffff;
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 3px;
}

svg{
    position: absolute;
    top: 0px;
    left: 167px;
    background: #d5966c;
    padding-top: 15px;
    padding-left: 15px;
    width: 30px;
    height: 39px;
}

.middle {
    position: absolute;
    left: 0px;
    right: 0px;
    background: #151515;
    top: 547px;
    height: 548px;
}

.m-inner {
    position: absolute;
    top: 104px;
    left: 165px;
    right: 165px;
}

.m-inner h1 {
    position: absolute;
    color: #ffffff;
    left: 0px;
    right: 760px;
}

.inner-2 {
    position: absolute;
    left: 570px;
    right: 95px;
}

.inner-2 h2 {
    left: 570px;
    right: 190px;
    color: #d5966c;
}

.inner-2 p {
    position: absolute;
    color: #ffffff;
    top: 60px;
    left: 0px;
    right: 60px;
    opacity: 0.9;
}

.gal P {
    position: absolute;
    left: 570px;
    top: 188px;
    color: #ffffff;
    opacity: 0.9;
}

.bottom {
    position: absolute;
    top: 1096px;
    left: 0px;
    right: 0px;
    background: #d5966c;
}

.b-inner {
    background: #d5966c;
}

.b-inner-2 {
    padding-top: 80px;
    padding-left: 165px;
    padding-right: 165px;
    padding-bottom: 80px;
}

.b-inner-2 h1 {
    color: #151515;
}

.bottom p {
    position: absolute;
    color: #151515;
    top: 130px;
    left: 550px;
    right: 200px;
}

.icons svg *{
    position: absolute;
    display: block;
    fill: #151515;
}

.facebook{
    position: absolute;
    left: 1150px;
    top: 100px;
    padding: 0px;
}

.instagram{
    position: absolute;
    left: 1200px;
    top: 100px;
    padding: 0px;
}

.twitter{
    position: absolute;
    left: 1250px;
    top: 100px;
    padding: 0px;
}

/* This section contains styles  for for desktop-active, tablet and mobile location */

/* @tablet location */

@media only screen and (max-width: 768px) {
    main {
        position: relative;
        max-width: 768px;
        margin: auto;
    }

    img {
        max-width: 100%;
    }

    h1 {
        font-size: 55px;
        line-height: 45px;
    }

    h2 {
        font-size: 32px;
        line-height: 32px;
    }

    p {
        font-size: 15px;
        line-height: 20px;
    }

    .back-location {
        width: 25%;
    }

    .middle {
        left: 0px;
        right: 0px;
        top: 320px;
        height: 436px;
    }

    .m-inner {
        left: 39px;
        right: 40px;
        top: 88px;
    }

    .m-inner h1 {
        left: 0px;
        right: 766px;
    }

    .inner-2 {
        left: 291px;
        right: 0px;
    }

    .inner-2 h2 {
        left: 0px;
        right: 48px;
    }

    .inner-2 p {
        left: 0px;
        right: 60px;
        top: 50px;
    }

    .gal p {
        top: 156px;
        left: 291px;
        right: 50px;
    }

    .bottom {
        top: 756px;
        left: 0px;
        right: 0px;
    }

    .b-inner-2 {
        padding-top: 56px;
        padding-left: 39px;
        padding-right: 40px;
        padding-bottom: 56px;
    }

    .bottom p {
        top: 56px;
        left: 330px;
        right: 200px;
    }

    .icons svg *{
        position: absolute;
    }

    .facebook{
        position: absolute;
        left: 600px;
        top: 56px;
    }

    .instagram{
        position: absolute;
        left: 650px;
        top: 56px;
    }

    .twitter{
        position: absolute;
        left: 700px;
        top: 56px;
    }

    
}

/* @mobile location */

@media only screen and (max-width: 375px) {
    main {
        position: relative;
        max-width: 375px;
        margin: auto;
    }

    h1 {
        font-size: 50px;
        line-height: 45px;
    }

    h2 {
        font-size: 30px;
        line-height: 32px;
    }

    p {
        font-size: 18px;
        line-height: 28px;
    }

    .back-location {
        width: 50%;
    }

    .image-map {
        width: 700px;
    }

    .middle {
        top: 292px;
        left: 0px;
        right: 0px;
        width: 700px;
    }

    .m-inner {
        top: 30px;
        left: 20px;
    }

    .m-inner h1 {
        top: 0px;
        left: 0px;
        right: 4.97%;
    }

    .inner-2 {
        left: 0px;
        top: 70px;
    }

    .gal p {
        left: 0px;
        top: 230px;
        right: 60px;
    }

    .bottom {
        top: 729px;
        left: 0px;
        right: 0px;
        width: 700px;
        height: 330px;
    }

    .bottom p {
        top: 170px;
        left: 39px;
    }

    .facebook{
        position: absolute;
        top: 280px;
        left: 39px;
    }

    .instagram{
        position: absolute;
        top: 280px;
        left: 89px;
    }

    .twitter{
        position: absolute;
        top: 280px;
        left: 139px;
    }
}